body {
    background-image: url(index.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1421px 1146px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 995px;
    height: 1146px;
    margin: 0 auto;
}

.clearfix::before, .clearfix::after{
    content: " ";
    display: table;
  }
  .clearfix::after{
    clear: both;
  }

/* ----------header---------- */

/* ----------top---------- */
.top {
    height: 115px;
    border: 2px solid #FFFF;
}

.logo {
    float: left;
    width: 320px;
    height: 100px;
    border: 2px solid #FFFF;
}

.slogan {
    float: left;
    width: 180px;
    height: 25px;
    margin-top: 50px;
    margin-left: 65px;
    border: 2px solid #FFFF;
}

.signin {
    float: right;
}

.func {
    margin-left: 55px;
}

.wordgroup,
.flaggroup {
    float: left;
}

.word {
    float: left;
    width: 61px;
    height: 30px;
    border: 2px solid #FFFF;
}

.flag {
    float: left;
    width: 23px;
    height: 30px;
    border: 2px solid #FFFF;
}

.keyin {
    float: left;
    width: 123px;
    height: 30px;
    border: 2px solid #FFFF;

}

.login {
    margin-left: 190px;
}

.loginbtn {
    float: left;
    width: 90px;
    height: 30px;
    border: 2px solid #FFFF;
}

.register {
    float: left;
    width: 37px;
    height: 30px;
    border: 2px solid #FFFF;
}

.forget {
    float: left;
    width: 52px;
    height: 30px;
    border: 2px solid #FFFF;
}

/* ----------navbar---------- */
.nav li {
    float: left;
    width: 11.11%;
    height: 37px;
    border: 2px solid #FFFF;
}

/* ----------carousel---------- */
.carousel {
    width: 995px;
    height: 435px;
    border: 2px solid #FFFF;
}

/* ----------content---------- */
.content {
    padding-bottom: 23px;
}

.content-up {
    width: 995px;
    height: 198px;
    padding-left: 39px;
    padding-right: 55px;
}

.free {
    float: left;
    border: 2px solid #FFFF;
}

.worldcup {
    float: left;
    margin-left: 50px;
}

.online {
    float: right;
    margin-left: 45px;
    border: 2px solid #FFFF;
}

.pic1 {
    float: left;
    width: 140px;
    height: 99px;
    border: 2px solid #FFFF;
}

.free-text {
    float: left;
    width: 129px;
    height: 99px;
    border: 2px solid #FFFF;
}

.pic2 {
    float: left;
    width: 65px;
    height: 99px;
    border: 2px solid #FFFF;
}

.worldcup-text {
    float: left;
    width: 205px;
    height: 99px;
    border: 2px solid #FFFF;
}

.prize {
    width: 220px;
    height: 99px;
    margin-left: 20px;
    border: 2px solid #FFFF;
}

.pic3 {
    float: left;
    width: 130px;
    height: 99px;
    border: 2px solid #FFFF;
}

.online-text {
    float: left;
    width: 129px;
    height: 99px;
    border: 2px solid #FFFF;
}

.content-down {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 2px solid #FFFF;
}

.news {
    float: left;
    padding: 10px 8px 10px 10px;
    border: 2px solid #FFFF;
}

.real {
    float: left;
    margin-left: 27px;
    padding: 10px 8px 10px 10px;
    border: 2px solid #FFFF;
}

.sports {
    float: left;
    margin-left: 23px;
    padding: 10px 8px 10px 10px;
    border: 2px solid #FFFF;
}

.lottery {
    float: left;
    margin-left: 23px;
    padding: 10px 8px 10px 10px;
    border: 2px solid #FFFF;
}

.news-screen {
    width: 195px;
    height: 135px;
    border: 2px solid #FFFF;
}

.news-text {
    width: 130px;
    height: 20px;
    margin: 8px auto 0 auto;
    border: 2px solid #FFFF;
}

.real .screen,
.sports .screen,
.lottery .screen {
    width: 200px;
    height: 80px;
    border: 2px solid #FFFF;
}

.real .text,
.sports .text,
.lottery .text {
    width: 200px;
    height: 60px;
    margin-top: 3px;
    border: 2px solid #FFFF;
}

.real .btn,
.sports .btn,
.lottery .btn {
    width: 75px;
    height: 20px;
    margin: 3px auto 0 auto;
    border: 2px solid #FFFF;
}

/* ----------footer---------- */
.footer {
    padding-top: 30px;
}

.footer-logo {
    float: left;
    width: 140px;
    height: 40px;
    border: 2px solid #FFFF;
}

.bank {
    float: left;
    width: 190px;
    height: 40px;
    border: 2px solid #FFFF;
}

.brand {
    float: left;
    width: 190px;
    height: 40px;
    border: 2px solid #FFFF;
}

.moreinfo {
    float: right;
}

.aboutus {
    float: left;
    width: 59px;
    height: 20px;
    border: 1px solid #FFFF;
}

.copyright {
    width: 200px;
    height: 20px;
    margin: 0 0 0 auto;
    border: 2px solid #FFFF;
}